/** CSS STYLE **/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header__navs__item {
  margin: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-title {
  width: 50px;
  margin-right: 20px;
}

.section-1 {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 300px;

  color: white;

  background: url('../images/banner.png') bottom;
  background-size: 100% 140%;
}

.section-1::after {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  content: '';
}

main .logo img {
  width: 100px;
  margin-bottom: 20px;
}

.link {
  color: white;
  text-decoration: none;
}

.section-1__text {
  text-align: center;
}

.bold {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
}

.section-1__text-secondary {
  font-size: 12px;
}

.section-1__button {
  display: flex;
  margin-top: 20px;
  padding: 10px 5px;

  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.z-index-2 {
  z-index: 2;
}

.max-width-1000 {
  max-width: 1000px;
}

.section {
  padding: 50px 0;
}

.section-colored {
  background-color: #f7f7f7;
}

.section-2__content-block {
  width: 250px;

  margin: 0 20px;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row__left {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin-right: 40px;
}

.row__right {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.section-image {
  width: 300px;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.form__legend {
  color: #26d2ae;

  font-size: 24px;

  border-color: #26d2ae;
}

.form__content {
  width: 500px;
  padding: 20px 10px;
}

.form__label {
  font-size: 18px;
}

.form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.form__input {
  width: 250px;

  padding: 10px;

  border: 1px solid silver;
  border-radius: 10px;
}

.form__submit {
  padding: 10px 40px;

  color: #26d2ae;
  font-size: 16px;

  background-color: #f7f7f7;

  border: 1px solid #26d2ae;
  border-radius: 10px;
}

.form__fieldset {
  border: 2px solid #26d2ae;
}

.form__input__type-select {
  width: 200px;
  height: 35px;
  margin-right: 70px;

  text-indent: 10px;

  background-color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;

  color: #f7f7f7;

  background-color: #303846;
}
