/** CSS STYLE **/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navs nav span {
  margin-left: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 50px;
  margin-right: 20px;
}

.section-1 {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 300px;

  color: white;

  background: url('../images/banner.png') bottom;
  background-size: 100% 140%;
}

.section-1::after {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  content: '';
}

main .logo img {
  width: 100px;
  margin-bottom: 20px;
}

.section-1__text {
  text-align: center;
}

.bold {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
}

.section-1__text-secondary {
  font-size: 12px;
}

.section-1__button {
  display: flex;
  margin-top: 20px;
  padding: 10px 5px;

  border: 2px solid white;
  border-radius: 10px;
}

.z-index-2 {
  z-index: 2;
}

.max-width-1000 {
  max-width: 1000px;
}

.section-2__content-block {
  width: 250px;

  margin: 0 20px;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row__left {
  max-width: 480px;
  margin-right: 40px;
}

.row__right {
  max-width: 480px;
}

.section-3 {
  padding: 50px 0;

  background-color: #f7f7f7;
}

.section-4 {
  padding: 50px;
}

.section-image {
  width: 300px;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
}
